body {
	background: #ececec;
}
.button-collapse {
	padding-left: 20px;
}
.navigation_bar {
	background: #1c62a3;
    height: 40px;
}
.sinpe_logo {
	max-height:100%; 
	max-width:100%;
}
.menu_title {
	color: white;
	font-size: 15px;
	margin-left: 15px;
}