
/* Stylesheet content from css/main.css in folder common */
body {
	
}
.button-collapse {
	padding-left: 20px;
}
.navigation_bar {
	background: #1c62a3;
    height: 35px;
}
/* Stylesheet content from css/main.css in folder android */

/* this CSS file extends the application CSS file found under common\css */

